@import url("../css/font.css");
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: Georgia, sans-serif;
  font-size: 19px;
}

.container_main {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #d2d7df;
  color: #000;
  position: relative;
  min-width: 300px;
  box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.header__logo img {
  width: 170px;
  height: auto;
}
.header__button {
  background-color: #8a897c;
  color: #000;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  border: none;
  padding: 10px 16px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 15px;
}
.header__button__left {
  margin-left: 0;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
}
.header__authenticated, .header__unauthenticated {
  display: flex;
  align-items: center;
}
.header__authenticated {
  padding-left: 15px;
  justify-content: space-between;
}
.header__user {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}
.header nav#dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.header nav#dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header nav#dropdown-menu ul li {
  margin-bottom: 10px;
}
.header nav#dropdown-menu ul li a {
  display: block;
  color: #333;
  text-decoration: none;
}
.header nav#dropdown-menu ul li a:hover {
  text-decoration: underline;
}

.login {
  box-sizing: border-box;
  height: 100%;
}
.login__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #353535;
}
.login__square {
  position: relative;
  display: flex;
  width: 50vw;
  height: 50vw;
  justify-content: center;
  align-items: center;
}
.login__square i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.login__square i:nth-child(1) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.login__square i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.login__square i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.login__square:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
.login__main {
  position: absolute;
  width: 40vw;
  max-width: 560px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login__main #login_error, .login__main #register_error {
  color: #ff2020;
  text-align: center;
}
.login__main__inputBx {
  position: relative;
  width: 100%;
}
.login__main__inputBx .disabled_button {
  filter: grayscale(50%);
  cursor: auto;
}
.login__main__inputBx .enabled_button {
  filter: none;
  cursor: pointer;
}
.login__main__inputBx input {
  position: relative;
  width: calc(100% - 40px);
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.login__main__inputBx input[type=submit] {
  width: 100%;
  background: #8a897c;
  background: linear-gradient(47deg, #ff357a, #fff172);
  border: none;
}
.login__main__inputBx input::-moz-placeholder {
  color: #bdbbb0;
}
.login__main__inputBx input::placeholder {
  color: #bdbbb0;
}
.login__main h2 {
  font-size: 2em;
  color: #fff;
}
.login__main__links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login__main__links a {
  color: #fff;
  text-decoration: none;
}

.register_links {
  justify-content: right;
}

.profile_page {
  display: flex;
  flex-direction: row;
}
.profile_page .left_panel {
  width: 15%;
  height: 100vh;
  border-right: solid 1px #cbcbcb;
}

.profile {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: grid;
}
.profile h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.profile form {
  text-align: left;
  position: relative;
}
.profile form .input-group {
  position: relative;
  margin-top: 15px;
}
.profile form .input-group label {
  padding: 0 10px;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  text-transform: capitalize;
  pointer-events: none;
  font-size: 20px;
  transition: all 0.3s;
}
.profile form .input-group input {
  padding: 18px 15px;
  width: 300px;
  border: 3px solid #353535;
  outline: none;
  color: #000;
  font-size: 20px;
  font-family: inherit;
  background-color: transparent;
  border-radius: 5px;
}
.profile form .input-group input:focus + label {
  top: 0;
  font-size: 16px;
}
.profile form .input-group input.not_empty + label {
  top: 0;
  font-size: 16px;
}
.profile form input[type=file] {
  margin-bottom: 10px;
}
.profile form button[type=submit] {
  margin-top: 20px;
}
.profile form small {
  color: #888;
}

@media screen and (max-width: 1300px) {
  .login__square {
    width: 60vw;
    height: 60vw;
  }
}
@media screen and (max-width: 1000px) {
  * {
    font-size: 15px;
  }
  .header {
    padding: 10px 15px;
  }
  .header__logo img {
    width: 130px;
  }
  .login__square {
    width: 70vw;
    height: 70vw;
  }
}
@media screen and (max-width: 600px) {
  .login__square {
    width: 80vw;
    height: 80vw;
  }
}
@media screen and (max-width: 550px) {
  * {
    font-size: 9px;
  }
  .login__main {
    gap: 10px;
  }
  .header {
    padding: 7px 12px;
    min-width: 276px;
  }
  .header__button {
    padding: 8px 13px;
  }
  .header__logo img {
    width: 100px;
  }
}
@media screen and (max-width: 400px) {
  .header__button__authenticated {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */